git+https://github.com/pcrespov/osparc-simcore.git@is1884/integration-library#egg=simcore-service-integration&subdirectory=packages/service-integration
# -e ../osparc-simcore/packages/service-integration


# versioning
bumpversion

# formatter
black

# tests
coverage

pytest
pytest-instafail
pytest-sugar
